<div>
    <button mat-raised-button color="primary" [routerLink]="'src\app\pages\culture-numerique'">Découvre la culture numérique</button>
    <button mat-raised-button color="primary" [routerLink]="'src\app\pages\fonctionnement-appli'">Comment fonctionne une appli ?</button>
    <button mat-raised-button color="primary" [routerLink]="'src\app\pages\portfolio'">Crée ton portfolio</button>
    <button mat-raised-button color="primary" [routerLink]="'src\app\pages\metiers'">Découvre les métiers</button>
    <button mat-raised-button color="primary" [routerLink]="'src\app\pages\carnet-de-bord'">Remplis ton carnet de bord</button>
    <button mat-raised-button color="primary" [routerLink]="'src\app\pages\cursus'">Trouve un cursus adapté</button>
  </div>  
